body {
  background-color: #eef5ff;
  min-height: 100vh;
  font-family: ubuntu, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 900px;
  height: 580px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}

.card__sidebar>img {
  width: 100%;
  display: block;
}

.card__sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}